<div class="mx-auto mt-6 flex w-full max-w-6xl flex-col gap-4 md:mt-10">
    <div class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h1 class="m-0 text-xl font-semibold">{{'app.pages.orders.title' | translate}}</h1>
        <p-button routerLink="/order/new" icon="pi pi-plus" [label]="'app.common.actions.new' | translate" size="small" styleClass="w-full sm:w-auto" />
    </div>

    <div class="app-soft-border rounded-md border">
        <p-table [value]="orders()" [stripedRows]="true" [rowHover]="true" [tableStyle]="{'width': '100%'}">
            <ng-template #header>
                <tr>
                    <th>{{'app.common.fields.id' | translate}}</th>
                    <th>{{'app.pages.orders.fields.referenceCode' | translate}}</th>
                    <th>{{'app.pages.orders.fields.description' | translate}}</th>
                    <th>{{'app.pages.orders.fields.clientId' | translate}}</th>
                    <th>{{'app.pages.orders.fields.total' | translate}}</th>
                    <th>{{'app.pages.orders.fields.issuedAt' | translate}}</th>
                </tr>
            </ng-template>
            <ng-template #body let-order>
                <tr class="cursor-pointer p-selectable-row" (click)="open(order.id)">
                    <td>{{order.id}}</td>
                    <td>{{order.referenceCode}}</td>
                    <td>{{order.description}}</td>
                    <td>{{order.clientId}}</td>
                    <td>{{order.total | currency}}</td>
                    <td>{{order.issuedAt | longDate}}</td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                @if (isLoading()) {
                    @for (_ of [1, 2, 3, 4]; track _) {
                        <tr>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                            <td><p-skeleton /></td>
                        </tr>
                    }
                } @else {
                    <tr>
                        <td colspan="6" class="py-6 text-center text-color-secondary">{{'app.common.empty.no_data' | translate}}</td>
                    </tr>
                }
            </ng-template>
        </p-table>
    </div>

    <div class="flex justify-end gap-2">
        <p-button (click)="previousPage()" [disabled]="!hasPrevious() || isLoading()" icon="pi pi-chevron-left" [label]="'app.common.actions.previous' | translate" severity="secondary" outlined size="small" type="button" />
        <p-button (click)="nextPage()" [disabled]="!hasNext() || isLoading()" icon="pi pi-chevron-right" iconPos="right" [label]="'app.common.actions.next' | translate" severity="secondary" outlined size="small" type="button" />
    </div>
</div>
